<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Merchandise</h2>

    <div class="mt-4">
      <%= form_with url: merch_index_path, method: :get, data: { controller: "merch-search", turbo_frame: "merch" } do |form| %>
        <div class="inline">
          <%= form.check_box(
                "merch_category_id[]",
                {
                  checked: @all_selected,
                  include_hidden: false,
                  data:
                    {
                      merch_search_target: "allCheckbox",
                      action: "merch-search#uncheckCategoriesIfAllSelected merch-search#submitForm"
                    },
                  class: "peer sr-only"
                },
                "all") %>
          <%= form.label "merch_category_id[]", "All", class: "rounded-3xl border mr-2 py-1.5 px-3 text-xs font-medium border-gray-200 bg-white text-gray-900 hover:bg-gray-50 uppercase sm:flex-1 cursor-pointer focus:outline-none peer-checked:border-transparent peer-checked:bg-indigo-600 peer-checked:text-white peer-checked:hover:bg-indigo-700", skip_class: true %>
        </div>
        <%= form.collection_check_boxes :merch_category_id, @merch_categories, :id, :name, include_hidden: false do |b| %>
          <div class="inline">
            <%= b.check_box(
                  checked: @selected_category_ids.map(&:to_i).include?(b.value),
                  data:
                    {
                      merch_search_target: "categoryIdCheckbox",
                      action: "merch-search#uncheckAllIfCategorySelected merch-search#submitForm"
                    },
                  class: "peer sr-only") %>
            <%= b.label class: "rounded-3xl border mr-2 py-1.5 px-3 text-xs font-medium border-gray-200 bg-white text-gray-900 hover:bg-gray-50 uppercase sm:flex-1 cursor-pointer focus:outline-none peer-checked:border-transparent peer-checked:bg-indigo-600 peer-checked:text-white peer-checked:hover:bg-indigo-700", skip_class: true %>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= turbo_frame_tag "merch", target: :_top do %>
      <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 border-t-2 pt-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        <% @merch.each do |merch| %>
          <div class="group relative" id="<%= dom_id(merch) %>">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
              <%= image_tag url_for(merch.image), id: dom_id(merch.image), class: "h-full w-full object-cover object-center lg:h-full lg:w-full", alt: merch.name, data: { turbo_permanent: true } %>
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-sm text-gray-700">
                  <%= link_to new_shopping_cart_merch_path(merch_id: merch.id), data: { turbo_stream: true } do %>
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    <%= merch.name %>
                  <% end %>
                </h3>
                <p class="mt-1 text-sm text-gray-500"><%= merch.description %></p>
              </div>
              <p class="text-sm font-medium text-gray-900"><%= number_to_currency(merch.price) %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>