<% seat = selection.selectable.seat %>

<div id="<%= dom_id(selection) %>">
  <div class="flex justify-between mt-3">
    <p class="text-gray-500">
      Table <%= seat.table_number %> Seat <%= seat.seat_number %>
    </p>
    <%= button_to \
          shows_reserved_seating_seat_ticket_selection_path(selection.selectable.seat.show, selection.selectable.seat, selection),
          method: :delete,
          class: "-m-2.5 flex items-center justify-center bg-white p-2.5 text-gray-400 hover:text-gray-500" do %>
      <span class="sr-only">Remove</span>
      <%= svg_trash_can %>
    <% end %>
  </div>
</div>
