<tr data-controller="destroyable" class="general_admission_show_section_fields">
  <td class="text-amber-600 table-td">
    <%= section_fields.text_field :name, data: { admin__shows_form_target: "generalAdmissionSectionField" }, disabled: section_fields.object.persisted?, class: "show_section_name_field" %>
  </td>
  <td class="text-right text-gray-900 table-td sm:pr-6">
    <%= section_fields.currency_field :convenience_fee, data: { admin__shows_form_target: "generalAdmissionSectionField" }, disabled: section_fields.object.persisted?, class: "show_section_convenience_fee_field" %>
  </td>
  <td class="text-right text-gray-900 table-td sm:pr-6">
    <%= section_fields.currency_field :ticket_price, data: { admin__shows_form_target: "generalAdmissionSectionField" }, disabled: section_fields.object.persisted?, class: "show_section_ticket_price_field" %>
  </td>
  <td class="text-right text-gray-900 table-td sm:pr-6">
    <%= section_fields.number_field :ticket_quantity, data: { admin__shows_form_target: "generalAdmissionSectionField" }, disabled: section_fields.object.persisted?, class: "show_section_ticket_quantity_field" %>
  </td>
  <% unless section_fields.object.persisted? %>
    <td class="align-middle table-td">
      <%= danger_link_to "Delete",
                  "javascript:void(0);",
                  data: { action: "destroyable#destroy" } %>
    </td>
  <% end %>
</tr>
