<%= form_with url: shopping_cart_general_admission_show_tickets_path, scope: :shopping_cart_tickets, data: { turbo_frame: :_top} do |form| %>
  <% shopping_cart_tickets.each_with_index do |shopping_cart_ticket, index| %>
    <%= form.fields_for "", shopping_cart_ticket, index: index do |ticket_fields| %>
      <%= ticket_fields.hidden_field :show_section_id %>
      <div class="mt-4">
        <%= ticket_fields.label :quantity, shopping_cart_ticket.show_section.name %>
        <%= ticket_fields.collection_select :quantity, 0..10, :to_i, :to_i, {} %>
      </div>
    <% end %>
  <% end %>

  <%= form.submit "Add to shopping cart", class: "mt-4" %>
<% end %>