<div class="max-w-5xl card">
  <%= render "admin/users/tabs" %>

  <!-- TABLE HEADER -->
  <%= table_header_wrapper_tag do %>
    <%= form_with url: admin_customers_path,
                  scope: :search,
                  method: :get,
                  data: { turbo: true, turbo_frame: :customers, turbo_action: "advance" } do |form| %>
      <%= form.label :keyword, class: "sr-only" %>
      <%= keyword_search_field(form) %>
    <% end %>

    <div>
      <%= link_to new_admin_customer_path, data: { turbo_frame: "application_modal" }, class: "flex items-center justify-center px-4 py-2 text-sm font-medium text-white rounded-lg bg-amber-600 hover:bg-amber-700" do %>
        <%= svg_plus_icon %>
        Add customer
      <% end %>
    </div>
  <% end %>

  <%= turbo_frame_tag :customers, data: { turbo_action: "advance" } do %>
    <%= render "admin/users/users_table", users: @users do |user| %>
      <%= dropdown_link_to "View Orders", "#" %>
      <%= dropdown_link_to "Delete", admin_customer_path(user), data: { turbo_method: "delete", turbo_frame: "_top" }, class: "block px-4 py-2 hover:bg-gray-100 text-sm text-red-500 hover:text-red-700" %>
    <% end %>
    <%= custom_pagy_nav(@pagy) %>
  <% end %>
</div>
