<div class="max-w-7xl card">
  <h1 class="text-center text-3xl font-semibold">Orders</h1>
  <!-- TABLE HEADER -->
  <%= table_header_wrapper_tag do %>
    <%= form_with url: admin_orders_path,
                  scope: :search,
                  method: :get,
                  data: { turbo: true, turbo_frame: :orders, turbo_action: "advance" } do |form| %>
      <%= form.label :keyword, class: "sr-only" %>
      <%= keyword_search_field(form) %>
    <% end %>
  <% end %>

  <%= turbo_frame_tag :orders, data: { turbo_action: "advance" } do %>
    <%= table_tag do %>
      <%= thead_tag do %>
        <tr>
          <%= th_tag do %>
            Order Number
          <% end %>
          <%= th_tag do %>
            Date
          <% end %>
          <%= th_tag do %>
            User
          <% end %>
          <%= th_tag do %>
            User Phone
          <% end %>
          <%= th_tag do %>
            User Email
          <% end %>
          <%= th_tag do %>
            Shows
          <% end %>
          <%= th_tag do %>
            Tickets
          <% end %>
          <%= th_tag do %>
            Total
          <% end %>
          <%= th_tag do %>
          <% end %>
      <% end %>
      <tbody>
      <% @orders.each do |order| %>
        <%= tr_for_tbody_tag id: dom_id(order, :admin) do %>
          <%= td_tag class: "text-sm" do %>
            <%= link_to order.order_number, [:admin, order], class: "text-amber-500 hover:underline hover:text-amber-600 font-medium", data: { turbo_frame: :_top } %>
          <% end %>
          <%= td_tag class: "text-sm px-2 py-2" do %>
            <%= order.created_at.to_fs(:mdy) %>
          <% end %>
          <%= td_tag class: "text-sm px-2 py-2" do %>
            <%= order.orderer.full_name %>
          <% end %>
          <%= td_tag class: "text-sm px-2 py-2" do %>
            <%= order.orderer.phone %>
          <% end %>
          <%= td_tag class: "text-sm px-2 py-2" do %>
            <%= order.orderer.email %>
          <% end %>
          <%= td_tag class: "text-sm px-2 py-2" do %>
            <%= order.shows.map { |show| "#{show.artist_name} - #{show.show_date.to_fs(:mdy)}" }.join(", ") %>
          <% end %>
          <%= td_tag class: "text-sm px-1 py-1" do %>
            <%= order.tickets_count %>
          <% end %>
          <%= td_tag do %>
            <%= number_to_currency(order.order_total) %>
          <% end %>
          <%= td_tag do %>

          <% end %>
        <% end %>
      <% end %>
      </tbody>
    <% end %>

    <%= custom_pagy_nav(@pagy) %>
  <% end %>
</div>
