<h1 class="mb-4 text-center text-3xl font-semibold">Orders</h1>

<%= card width: "max-w-7xl" do %>
  <%= data_table collection: @orders, pagy: @pagy, new_record_button: false do |table| %>
    <% table.column :order_number do |order| %>
      <%= link_to order.order_number,
                  [:admin, order],
                  class: "link primary font-medium" %>
    <% end %>
    <% table.column :created_at, header: "Date" do |order| %>
      <%= order.created_at.to_fs(:date) %>
    <% end %>
    <% table.column :orderer_name, header: "User" %>
    <% table.column :orderer_phone, header: "User Phone" %>
    <% table.column :orderer_email, header: "User Email" %>
    <% table.column :shows, sortable: false do |order| %>
      <%= order.shows.map { |show| "#{show.artist_name} - #{show.show_date.to_fs(:date)}" }.join(", ") %>
    <% end %>
    <% table.column :tickets_count, header: "Tickets", sortable: true do |order| %>
      <%= order.tickets_count %>
    <% end %>
    <% table.column :balance_paid, header: "Total" do |order| %>
      <%= number_to_currency(order.balance_paid) %>
    <% end %>
  <% end %>
<% end %>
