<%= turbo_frame_tag "#{turbo_frame_id_for_collection(collection)}_data_table", target: "_top" do %>
  <!-- TABLE HEADER -->
  <div class="relative mt-4 rounded-t-xl border-x border-t border-gray-200 bg-zinc-50 px-2 py-3">
    <%= data_table_form_with(collection, keyword_search_url) do |form| %>
      <div>
        <% if include_deactivated_search_param %>
          <label class="flex items-center space-x-2">
            <%= form.check_box :include_deactivated, checked: params[:include_deactivated] == "1", onchange: "this.form.requestSubmit();" %>
            <%= form.label :include_deactivated, local_assigns[:include_deactivated_label_text], class: "text-sm" %>
          </label>
        <% end %>
      </div>

      <div class="flex items-end space-x-2">
        <% if keyword_search %>
          <div class="relative w-full">
            <%= form.text_field :q, value: params[:q], placeholder: "Search...", class: "mt-0" %>
            <%= form.submit class: "absolute top-0 end-0 h-full p-2.5 text-sm" do %>
              <svg class="h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
              </svg>
            <% end %>
            <%= form.hidden_field :sort, value: params[:sort] %>
            <%= form.hidden_field :sort_direction, value: params[:sort_direction] %>
          </div>
        <% end %>

        <div class="flex">
          <% if new_record_button %>
            <%
              link_options = {
                id: "new_#{collection.model.model_name.singular}",
                data: {}
              }
              link_options[:data] = { turbo_stream: true } if local_assigns[:new_record_modal]
            %>
            <%= link_to_new_record "New #{collection.model.name.underscore.humanize}", new_record_url, link_options %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <%= turbo_frame_tag(turbo_frame_id_for_collection(collection), target: "_top") do %>
    <!-- DATA TABLE -->
    <div class="relative">
      <table class="w-full border-x border-gray-200 text-left rtl:text-right text-gray-500">
        <thead class="bg-zinc-50 uppercase text-gray-700">
        <tr>
          <% builder.header_cells.each do |cell| %>
            <th class="px-6 py-3 text-xs">
              <% if cell.sortable %>
                <%= link_to("#{keyword_search_url}?#{data_table_header_cell_sort_query_params(cell)}",
                            data: { turbo_frame: "#{turbo_frame_id_for_collection(collection)}_data_table" },
                            class: "flex items-center") do %>
                  <%= cell.text %>
                  <%= svg_arrow_up(class: "w-4 h-4 ml-1") if sort.to_s.casecmp?(cell.as.to_s) && sort_direction.to_s == "asc" %>
                  <%= svg_arrow_down class: "w-4 h-4 ml-1" if sort.to_s.casecmp?(cell.as.to_s) && sort_direction.to_s == "desc" %>
                  <%= svg_arrow_up_down class: "w-4 h-4 ml-1" if !sort.to_s.casecmp?(cell.as.to_s) %>
                <% end %>
              <% else %>
                <%= cell.text %>
              <% end %>
            </th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% collection.each do |collection_item| %>
          <tr id="<%= dom_id(collection_item) %><%= row_id_suffix %>" class="border-b bg-white text-sm last:border-none hover:bg-zinc-50">
            <% builder.row_cells.each do |row_cell| %>
              <td class="<%= customization_classes_merged_into_default_classes(row_cell.classes, "px-6 py-4") %>">
                <%= row_cell.render(collection_item) %>
              </td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>


    <!-- TABLE FOOTER -->
    <nav class="flex flex-col flex-wrap items-center justify-between rounded-b-xl border-x border-b border-gray-200 bg-zinc-50 p-2 pt-2 text-sm md:flex-row" aria-label="Table navigation">
      <% if local_assigns[:pagy] %>
        <% start_row = (pagy.page - 1) * pagy.items + 1 %>
        <% end_row = start_row + pagy.items - 1 %>
        <% end_row = pagy.count if end_row > pagy.count %>
        <span class="mb-4 block w-full font-normal text-gray-500 md:mb-0 md:inline md:w-auto">
        Showing <span class="font-semibold text-gray-900"><%= start_row %>
          - <%= end_row %></span> of <span class="font-semibold text-gray-900"><%= number_with_delimiter(pagy.count) %></span>
      </span>

        <ul class="inline-flex items-stretch -space-x-px">
          <li>
            <%= link_to pagy.prev ? pagy_url_for(pagy, pagy.prev) : "javascript:void(0);", class: "flex items-center justify-center h-full p-1.5 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 #{"cursor-not-allowed" unless pagy.prev}" do %>
              <span class="sr-only">Previous</span>
              <svg class="h-5 w-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                   xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                      clip-rule="evenodd"></path>
              </svg>
            <% end %>
          </li>
          <% pagy.series.each do |pagy_series_item| %>
            <li>
              <% if pagy_series_item == :gap %>
                <a href="#" class="flex items-center justify-center border border-gray-300 bg-white p-2 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700">...</a>
              <% elsif pagy_series_item.to_s == pagy.page.to_s %>
                <%= link_to pagy_series_item,
                            pagy_url_for(pagy, pagy_series_item),
                            aria_current: "page",
                            data: { turbo_frame: "#{turbo_frame_id_for_collection(collection)}_data_table" },
                            class: "z-10 flex items-center justify-center p-2 leading-tight border text-primary-600 bg-primary-50 border-primary-300 hover:bg-primary-100 hover:text-primary-700" %>
              <% else %>
                <%= link_to pagy_series_item,
                            pagy_url_for(pagy, pagy_series_item),
                            data: { turbo_frame: "#{turbo_frame_id_for_collection(collection)}_data_table" },
                            class: "flex items-center justify-center border border-gray-300 bg-white p-2 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700" %>
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to pagy.next ? pagy_url_for(pagy, pagy.next) : "javascript:void(0);",
                        data: { turbo_frame: "#{turbo_frame_id_for_collection(collection)}_data_table" },
                        class: "flex items-center justify-center h-full p-1.5 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 #{"cursor-not-allowed" unless pagy.next}" do %>
              <span class="sr-only">Next</span>
              <svg class="h-5 w-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                   xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                      clip-rule="evenodd"></path>
              </svg>
            <% end %>
          </li>
        </ul>
      <% end %>
    </nav>
  <% end %>
<% end %>
