<%= turbo_frame_tag "#{dom_id(@merch_category, :admin)}_form", target: :_top do %>
  <%= form_with(model: [:admin, merch_category]) do |form| %>
    <%= render "shared/error_messages", { model: merch_category } %>

    <div class="mt-6">
      <%= form.label :name %>
      <%= form.text_field :name, tabindex: 1, autofocus: true %>
    </div>

    <div class="mt-10 flex items-center justify-end">
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
