<div data-controller="tabs" data-tabs-active-tab-value="<%= active_tab_from_params || 1 %>" class="card max-w-xl" data-action="turbo:frame-load->tabs#displayActiveTab">
  <%= render "admin/merch/tabs" %>

  <%= turbo_frame_tag "admin_merch_panel", src: admin_merch_index_path do %>
    <div data-tabs-target="panel"></div>
  <% end %>

  <%= turbo_frame_tag "admin_merch_categories_panel", target: :_top do %>
    <div class="hidden" data-tabs-target="panel" data-turbo="false">
      <div class="flex justify-end">
        <%= link_to "New Category", new_admin_merch_category_path, class: "btn-primary px-2 py-1", data: { turbo: true, turbo_stream: true } %>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="table-th">Name</th>
            <th scope="col" class="table-th"></th>
          </tr>
        </thead>
        <tbody class="table-tbody" id="admin_merch_categories">
          <% @merch_categories.each do |merch_category| %>
            <tr id="<%= dom_id(merch_category, :admin) %>">
              <td class="table-td text-indigo-600">
                <%= link_to merch_category.name, edit_admin_merch_category_path(merch_category), data: { turbo_stream: true } %>
              </td>
              <td class="table-td text-gray-900 text-right sm:pr-6">
                <%= render "shared/dropdown", { id: dom_id(merch_category, :admin) } do %>
                  <%= dropdown_link_to "Delete", [:admin, merch_category], data: { turbo_method: "delete", turbo: true } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>