<div class="[&:not(:first-child)]:mt-6" id="seating_chart_section_<%= section_fields.index %>_fields" data-controller="destroyable">
  <div class="flex justify-between">
    <%= section_fields.label :name %>
    <%= button_tag type: "button", data: { action: "destroyable#destroy admin--seating-chart-form#removeSection", section_id: section_fields.index }, class: "button danger p-1.5" do %>
      <span class="sr-only">Remove section</span>
      <%= svg_trash_can_2 class: "h-4 w-4" %>
    <% end %>
  </div>
  <div>
    <%= section_fields.text_field \
          :name,
          class: "form-control-text mr-2 section-name-input",
          data:
            {
              section_id: section_fields.index,
              admin__seating_chart_form_target: "sectionNameInput",
              section_index: index
            } %>
  </div>
  <div class="mt-2">
    <%= section_fields.label :ticket_type_id %>
    <%= section_fields.select \
          :ticket_type_id,
          section_fields.object.seating_chart&.venue&.ticket_types&.map { |tt| [tt.name, tt.id] } || [],
          {},
          {
            data: { admin__seating_chart_form_target: "ticketTypeSelect" },
            class: "section-ticket-type-select"
          } %>
  </div>
  <%= section_fields.hidden_field :_destroy, data: { destroyable_target: "destroyInput" } %>
  <%= section_fields.hidden_field :id if section_fields.object.persisted? %>
</div>
