<%= turbo_frame_tag :admin, show, target: :_top do %>
  <%= form_with(model: [:admin, show], class: "mt-12", data: { controller: "admin--shows-form" }) do |form| %>
    <div class="my-6 flex justify-center" data-controller="clear-errors">
      <div class="w-full max-w-md">
        <%= render "shared/error_messages", { model: show } %>
      </div>
    </div>

    <div class="grid gap-x-12 gap-y-6 md:grid-cols-2">
      <!-- SHOW DETAILS -->
      <div class="border-b border-gray-300/75 pb-12">
        <h3 class="mb-6 font-medium text-gray-900 text-md">
          Show Details
        </h3>

        <div class="grid gap-6 md:grid-cols-2">
          <div id="show_artist_fields">
            <%= render "artist_fields", form: form %>
          </div>

          <div>
            <%= form.label :show_date %>
            <%= form.date_field :show_date %>
          </div>

          <div>
            <%= form.label :venue_id %>
            <%= form.collection_select(
                  :venue_id,
                  Venue.active.select(:id, :name),
                  :id,
                  :name,
                  {},
                  disabled: show.persisted?,
                  data: { action: "admin--shows-form#loadVenueSeatingCharts" })
            %>
          </div>

          <div>
            <%= form.label :doors_open_at %>
            <%= form.time_field :doors_open_at %>
          </div>

          <div>
            <%= form.label :show_starts_at %>
            <%= form.time_field :show_starts_at %>
          </div>

          <div>
            <%= form.label :dinner_starts_at %>
            <%= form.time_field :dinner_starts_at %>
          </div>

          <div>
            <%= form.label :dinner_ends_at %>
            <%= form.time_field :dinner_ends_at %>
          </div>
        </div>
      </div>

      <!-- SALE TIMES -->
      <div class="border-b border-gray-300/75 pb-12">
        <h3 class="mb-6 font-medium text-gray-900 text-md">
          Sale Times
        </h3>

        <div class="grid gap-6 md:grid-cols-2">
          <div>
            <%= form.label :back_end_on_sale_at %>
            <%= form.datetime_field :back_end_on_sale_at %>
          </div>

          <div>
            <%= form.label :back_end_off_sale_at %>
            <%= form.datetime_field :back_end_off_sale_at %>
          </div>

          <div>
            <%= form.label :front_end_on_sale_at %>
            <%= form.datetime_field :front_end_on_sale_at %>
          </div>

          <div>
            <%= form.label :front_end_off_sale_at %>
            <%= form.datetime_field :front_end_off_sale_at %>
          </div>
        </div>
      </div>

      <!-- SECTIONS -->
      <div class="border-b border-gray-300/75 pb-12">
        <h3 class="mb-6 font-medium text-gray-900 text-md">
          Sections
        </h3>
        <div>
          <div id="show_seating_chart_fields">
            <%= render "admin/shows/seating_chart_fields/seating_chart_fields", form: form, disabled: show.persisted?, seating_charts: @seating_charts %>
          </div>
          <div class="mt-6" id="show_sections_fields">
            <%= form.fields_for :sections do |section_fields| %>
              <%= render "admin/shows/sections_fields/section_fields", section_fields: section_fields %>
            <% end %>
          </div>
        </div>
      </div>

      <!-- ADDITIONAL TEXT -->
      <div class="border-b border-gray-300/75 pb-12">
        <%= form.label :additional_text, class: "mb-6 font-medium text-gray-900 text-md", skip_class: true %>
        <%= form.text_area :additional_text, class: "mt-6", rows: 5 %>
      </div>

      <!-- UPSALES -->
      <div class="pb-12">
        <h3 class="mb-6 font-medium text-gray-900 text-md">
          Upsales
        </h3>

        <%= link_to "Add Upsale", new_admin_shows_upsale_fields_path, class: "btn-primary text-xs px-1.5 py-1.5", data: { turbo_stream: true } %>

        <div id="show_upsales_fields">
          <% show.upsales.each do |upsale| %>
            <%= form.fields_for :upsales, upsale do |upsale_fields| %>
              <%= render "admin/shows/upsale_fields/form", upsale_fields: upsale_fields %>
            <% end %>
          <% end %>
        </div>
      </div>

      <!-- CUSTOMER QUESTIONS-->
      <div class="pb-12">
        <h3 class="mb-6 font-medium text-gray-900 text-md">
          Customer Questions
        </h3>

        <%= form.collection_check_boxes :customer_question_ids, CustomerQuestion.active.select(:id, :question), :id, :question %>
      </div>
    </div>

    <div class="mt-10 flex items-center justify-end">
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
