<p style="color: green"><%= notice %></p>

<%= render @admin_show %>

<div>
  <%= link_to "Edit this show", edit_admin_show_path(@admin_show) %> |
  <%= link_to "Back to shows", admin_shows_path %>

  <%= button_to "Destroy this show", @admin_show, method: :delete %>
</div>
