<%= content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">

  <script src="https://js.stripe.com/v3/"></script>
<% end %>

<%= turbo_frame_tag order, target: :_top do %>
  <%= order_form_with(order) do |form| %>
    <%= form.hidden_field :total_due_in_cents %>
    <% order.shopping_cart_selection_ids.each do |selection_id| %>
      <%= form.hidden_field :shopping_cart_selection_ids, multiple: true, value: selection_id %>
    <% end %>
    <!-- Order summary -->
    <div class="mt-10 lg:mt-0m lg:order-2">
      <h2 class="text-lg font-medium text-gray-900">Order summary</h2>

      <div class="mt-4 rounded-lg border border-gray-200 bg-white shadow-sm">
        <h3 class="sr-only">Items in your cart</h3>
        <ul role="list" class="divide-y divide-gray-200">
          <% order.purchases.group_by(&:purchaseable_name).sort_by { |name, _| name == 'merch' ? 1 : 0 }.each do |purchaseable_name, purchases| %>
            <%= render "orders/#{purchaseable_name}_purchases/purchases", purchases: purchases %>
          <% end %>
        </ul>
        <dl class="border-t border-gray-200 px-4 py-6 space-y-6 sm:px-6">
          <div class="flex items-center justify-between">
            <dt class="text-sm">Subtotal</dt>
            <dd class="text-sm font-medium text-gray-900"><%= number_to_currency(order.total_due) %></dd>
          </div>
          <div class="flex items-center justify-between">
            <dt class="text-sm">Fees</dt>
            <dd class="text-sm font-medium text-gray-900"><%= number_to_currency(order.total_fees) %></dd>
          </div>
          <div class="flex items-center justify-between">
            <dt class="text-sm">Shipping</dt>
            <dd class="text-sm font-medium text-gray-900"><%= number_to_currency(order.shipping_charges) %></dd>
          </div>
          <div class="flex items-center justify-between">
            <dt class="text-sm">Taxes</dt>
            <dd class="text-sm font-medium text-gray-900">TODO</dd>
          </div>
          <div class="flex items-center justify-between border-t border-gray-200 pt-6">
            <dt class="text-base font-medium">Total</dt>
            <dd class="text-base font-medium text-gray-900"><%= number_to_currency(order.total_due) %></dd>
          </div>
        </dl>

        <div class="hidden border-t border-gray-200 px-4 py-6 hover:pointer sm:px-6 lg:block">
          <%= button_tag type: "submit", data: { checkout_target: "submitButton" }, class: "group flex items-center justify-center w-full rounded-md border border-transparent bg-amber-600 px-4 py-3 text-base font-medium text-white shadow-sm hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2 focus:ring-offset-gray-50" do %>
            <div class="mr-2 group-disabled:block hidden h-4 w-4 loader"></div>
            <span class="group-disabled:hidden">Place Order</span>
            <span class="group-disabled:block hidden">Placing Order...</span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="mt-10 border-t border-gray-200 pt-5 lg:order-1 lg:border-none lg:pt-0">
      <!-- CONTACT INFORMATION -->
      <%= form.fields_for :guest_orderer, order.guest_orderer do |guest_orderer_fields| %>
        <div id="order_contact_information">
          <h2 class="text-lg font-medium text-gray-900">Contact information</h2>

          <div class="mt-4 md:grid md:grid-cols-2 md:gap-4">
            <div class="mt-2 md:mt-0">
              <%= guest_orderer_fields.label :first_name %>
              <%= guest_orderer_fields.text_field :first_name %>
            </div>
            <div class="mt-2 md:mt-0">
              <%= guest_orderer_fields.label :last_name %>
              <%= guest_orderer_fields.text_field :last_name %>
            </div>
            <div class="mt-2 md:mt-0">
              <%= guest_orderer_fields.label :email %>
              <%= guest_orderer_fields.email_field :email %>
            </div>
            <div class="mt-2 md:mt-0">
              <%= guest_orderer_fields.label :phone, "Phone number" %>
              <%= guest_orderer_fields.telephone_field :phone %>
            </div>
          </div>
        </div>
      <% end %>

      <!-- SHIPPING INFORMATION -->
      <%= form.fields_for :shipping_address, order.shipping_address do |shipping_address_fields| %>
        <div class="mt-10 border-t border-gray-200 pt-10" id="order_shipping_address">
          <h2 class="text-lg font-medium text-gray-900">Shipping information</h2>

          <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4">
            <div>
              <%= shipping_address_fields.label :first_name %>
              <%= shipping_address_fields.text_field :first_name, autocomplete: "given-name" %>
            </div>
            <div>
              <%= shipping_address_fields.label :last_name %>
              <%= shipping_address_fields.text_field :last_name, autocomplete: "family-name" %>
            </div>

            <%= shipping_address_fields.fields_for :address do |address_fields| %>
              <div class="sm:col-span-2">
                <%= address_fields.label :address_1, "Address" %>
                <%= address_fields.text_field :address_1, autocomplete: "street-address" %>
              </div>

              <div class="sm:col-span-2">
                <%= address_fields.label :address_2, "Apartment, suite, etc." %>
                <%= address_fields.text_field :address_2, autocomplete: "address-line2" %>
              </div>

              <div>
                <%= address_fields.label :city %>
                <%= address_fields.text_field :city, autocomplete: "address-level2" %>
              </div>

              <div>
                <%= address_fields.label :state %>
                <%= address_fields.select :state, us_states, { include_blank: true }, class: "form-control-select mt-1", autocomplete: "address-level1" %>
              </div>

              <div>
                <%= address_fields.label :zip_code %>
                <%= address_fields.text_field :zip_code, autocomplete: "postal-code" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <!-- PAYMENT INFORMATION -->
      <div class="<%= "mt-10 border-t border-gray-200 pt-5" if order.guest_orderer.present? %> mb-5">
        <h2 class="text-lg font-medium text-gray-900">Payment</h2>

        <% if order.errors.added?(:payment_method_id, :blank) %>
          <p class="text-center text-sm text-red-600">Please select a payment method</p>
        <% end %>

        <% order.stripe_payment_methods.each do |payment_method| %>
          <div class="flex items-center py-2">
            <%= form.radio_button :payment_method_id, payment_method.id %>
            <%= form.label :payment_method_id, value: payment_method.id, class: "flex grow justify-between text-sm border border-gray-200 bg-white shadow-sm rounded-md p-4" do %>
              <div class="flex">
                <%= image_tag "/card_brands/#{payment_method.card.brand}.png", class: "h-6 w-auto mr-3" %>
                &#42;&#42;&#42;&#42; &#42;&#42;&#42;&#42; &#42;&#42;&#42;&#42; <%= payment_method.card.last4 %>
              </div>
              <div>
                <%= payment_method.card.exp_month %>/<%= payment_method.card.exp_year %>
              </div>
            <% end %>
          </div>
        <% end %>

        <div class="flex py-2">
          <%= form.radio_button :payment_method_id, "new", data: { checkout_target: "newPaymentMethodRadioButton" } %>
          <%= form.label :payment_method_id, value: "new", class: "w-full text-sm border border-gray-200 bg-white shadow-sm rounded-md p-4" do %>
            <div class="font-medium">
              New Card
            </div>

            <div id="payment-element" data-checkout-target="payment-element" class="mt-4"></div>
            <% if order.can_save_payment_method? %>
              <div class="mt-3">
                <div class="flex h-6 items-center">
                  <%= form.check_box :save_payment_method, class: "form-control-check-box" %>
                </div>
                <div class="ml-3 text-sm">
                  <%= form.label :save_payment_method, "Save for future purchases" %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="px-4 py-6 sm:px-6 lg:hidden">
        <%= button_tag type: "submit", data: { checkout_target: "submitButton" }, class: "group flex items-center justify-center w-full rounded-md border border-transparent bg-amber-600 px-4 py-3 text-base font-medium text-white shadow-sm hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2 focus:ring-offset-gray-50" do %>
          <div class="mr-2 group-disabled:block hidden h-4 w-4 loader"></div>
          <span class="group-disabled:hidden">Place Order</span>
          <span class="group-disabled:block hidden">Placing Order...</span>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
