<div id="<%= dom_id order %>">
  <div class="bg-white">
    <div class="mx-auto max-w-7xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">Order Details</h1>

      <div class="mt-2 border-b border-gray-200 pb-5 text-sm sm:flex sm:justify-between">
        <dl class="flex">
          <dt class="text-gray-500">Order number&nbsp;</dt>
          <dd class="font-medium text-gray-900"><%= @order.order_number %></dd>
          <dt>
            <span class="sr-only">Date</span>
            <span class="mx-2 text-gray-400" aria-hidden="true">&middot;</span>
          </dt>
          <dd class="font-medium text-gray-900">
            <time datetime="<%= @order.created_at.strftime("%Y-%m-%d") %>"><%= @order.created_at.strftime("%B %d, %Y") %></time>
          </dd>
        </dl>
      </div>

      <div class="mt-8">
        <h2 class="sr-only">Products purchased</h2>

        <% order.tickets.group_by(&:show).each do |show, tickets| %>
          <div class="mt-8 border-b pb-8 space-y-24">
            <div class="grid grid-cols-1 text-sm sm:grid-cols-12 sm:grid-rows-1 sm:gap-x-6 md:gap-x-8 lg:gap-x-8">
              <div class="sm:col-span-4 md:col-span-5 md:row-span-2 md:row-end-2">
                <%= link_to shows_path(show), class: "max-w-16 rounded-lg bg-gray-50" do %>
                  <%= image_tag url_for(show.artist.image.variant(:small)), class: "rounded-lg" %>
                <% end %>
              </div>
              <div class="mt-6 sm:col-span-7 sm:mt-0 md:row-end-1">
                <h3 class="text-lg font-medium text-gray-900">
                  <%= link_to shows_path(show) do %>
                    <span class="text-2xl"><%= show.artist.name %></span>
                    <span class="mx-5 text-gray-400" aria-hidden="true">&middot;</span> <%= show.show_date.strftime("%B %d, %Y") %>
                  <% end %>
                </h3>
                <% tickets.each do |ticket| %>
                  <div class="my-2">
                    <span class="text-gray-500">
                      <% if ticket.is_a?(Order::Tickets::ReservedSeating) %>
                      Table <%= ticket.table_number %> Seat <%= ticket.seat_number %>
                        <% else %>
                          <%= ticket.show_section.name %> &times; <%= ticket.quantity %>
                        <% end %>
                    </span>
                    -
                    <span class="font-medium"><%= number_to_currency(ticket.total_price) %></span>
                  </div>
                <% end %>
                <p class="mt-1 font-medium text-gray-900"><%= number_to_currency(show.tickets.sum(:total_price)) %></p>
              </div>
            </div>
          </div>
        <% end %>

        <% order.merch.group_by(&:merch).each do |merch, order_merch| %>
          <div class="mt-8 border-b pb-8 space-y-24">
            <div class="grid grid-cols-1 text-sm sm:grid-cols-4 sm:gap-x-6 md:grid-cols-6 md:gap-x-8">
              <div class="col-span-4 sm:col-span-1">
                <%= image_tag url_for(merch.image.variant(:small)), class: "h-36 w-auto rounded-lg" %>
              </div>
              <div class="col-span-4 mt-6 sm:col-span-3 sm:mt-0 md:col-span-5">
                <h3 class="text-lg font-medium text-gray-900">
                  <span class="text-2xl"><%= merch.name %></span>
                </h3>
                <% order_merch.each do |om| %>
                  <div class="my-2">
                    <span class="text-gray-500"><%= "#{om.option_label}: #{om.option}" if om.option %>
                      Quantity: <%= om.quantity %></span> -
                    <span class="font-medium"><%= number_to_currency(om.total_price) %></span>
                  </div>
                <% end %>
                <p class="mt-1 font-medium text-gray-900"><%= number_to_currency(order_merch.sum(&:total_price)) %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <!-- Billing -->
      <div class="mt-24">
        <h2 class="sr-only">Billing Summary</h2>

        <div class="rounded-lg bg-gray-50 px-6 py-6 lg:grid lg:grid-cols-12 lg:gap-x-8 lg:px-0 lg:py-8">
          <dl class="grid grid-cols-1 gap-6 text-sm sm:grid-cols-2 md:gap-x-8 lg:col-span-5 lg:pl-8">
            <% if order.shipping_address.present? %>
              <div>
                <dt class="font-medium text-gray-900">Shipping address</dt>
                <dd class="mt-3 text-gray-500">
                  <span class="block"><%= order.shipping_address.first_name %> <%= order.shipping_address.last_name %></span>
                  <span class="block"><%= order.shipping_address.address_1 %> <%= order.shipping_address.address_2 %></span>
                  <span class="block"><%= order.shipping_address.city %>, <%= order.shipping_address.state %> <%= order.shipping_address.zip_code %></span>
                </dd>
              </div>
            <% end %>
            <div>
              <dt class="font-medium text-gray-900">Payment information</dt>
              <dd class="mt-3 flex">
                <div>
                  <%= image_tag "/card_brands/#{order.payment.card_brand}.png", class: "h-6 w-auto" %>
                  <p class="sr-only">Visa</p>
                </div>
                <div class="ml-4">
                  <p class="text-gray-900">Ending with <%= order.payment.card_last_4 %></p>
                  <p class="text-gray-600">Expires <%= order.payment.card_exp_month %>
                    / <%= order.payment.card_exp_year %></p>
                </div>
              </dd>
            </div>
          </dl>

          <dl class="mt-8 text-sm divide-y divide-gray-200 lg:col-span-7 lg:mt-0 lg:pr-8">
            <div class="flex items-center justify-between pb-4">
              <dt class="text-gray-600">Subtotal</dt>
              <dd class="font-medium text-gray-900"><%= number_to_currency(order.order_total) %></dd>
            </div>
            <div class="flex items-center justify-between py-4">
              <dt class="text-gray-600">Shipping</dt>
              <dd class="font-medium text-gray-900"><%= number_to_currency(order.shipping_fees) %></dd>
            </div>
            <div class="flex items-center justify-between py-4">
              <dt class="text-gray-600">Tax</dt>
              <dd class="font-medium text-gray-900">TODO</dd>
            </div>
            <div class="flex items-center justify-between pt-4">
              <dt class="font-medium text-gray-900">Order total</dt>
              <dd class="font-medium text-amber-600"><%= number_to_currency(order.order_total) %></dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
