<%= turbo_frame_tag "#{dom_id(venue, :admin)}_form", target: :_top do %>
<%= form_with(model: [:admin, venue]) do |form| %>
  <%= render "shared/error_messages", { model: venue } %>

  <div class="mt-6">
    <%= form.label :name %>
    <%= form.text_field :name, tabindex: 1, autofocus: true %>
  </div>

  <div class="mt-6">
  </div>

  <div class="mt-10 flex items-center justify-end">
    <%= form.submit %>
  </div>
<% end %>
<% end %>