<%= turbo_frame_tag :shopping_cart do %>
  <div class="mx-auto max-w-2xl px-4">
    <ul role="list" id="shopping_cart_items" class="divide-y divide-gray-200">
      <% shopping_cart.shows.sort_by(&:show_date).each do |show| %>
        <li class="flex items-center py-6" id="show_<%= show.id %>_seat_reservations">
          <div class="flex py-6">
            <%= link_to show_path(show), data: { turbo: false } do %>
              <%= image_tag show.artist.image.variant(:medium), id: "show_#{show.id}_artist_image", class: "h-auto w-32 flex-none rounded-md border border-gray-200" %>
            <% end %>
            <div class="ml-4 flex-auto">
              <h3 class="font-medium text-gray-900">
                <%= link_to show.artist.name, show_path(show), data: { turbo: false } %>
              </h3>
              <% case show %>
              <% when Show::ReservedSeatingShow %>
                <%= render partial: "shopping_cart/seat_reservations/seat_reservation", collection: shopping_cart.seats_for(show), as: :seat %>
              <% when Show::GeneralAdmissionShow %>
                <%= render partial: "shopping_cart/general_admission_tickets/general_admission_ticket", collection: shopping_cart.tickets_for(show), as: :ticket %>
              <% else
                   nil %>
              <% end %>

              <% if show.is_a?(Show::ReservedSeatingShow) && shopping_cart.user.admin? && (shopping_cart.seats.any? || shopping_cart.tickets.any?) %>
                <%= button_to(
                      "Hold Seats",
                      reserved_seating_show_seat_holds_path(show),
                      data: { turbo_stream: true },
                      class: "block text-center w-full rounded-md border border-transparent bg-amber-600 mt-4 px-4 py-2 text-xs font-medium text-white shadow-sm hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2 focus:ring-offset-gray-50")
                %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
      <% shopping_cart.merch.group_by(&:merch).sort_by { |merch, _| merch.name }.each do |merch, shopping_cart_merch| %>
        <li class="flex items-center py-6" id="merch_<%= merch.id %>_shopping_cart_merch">
          <%= image_tag merch.image.variant(:medium), id: dom_id(merch.image), class: "h-auto w-32 flex-none rounded-md border border-gray-200" %>
          <div class="ml-4 flex-auto">
            <h3 class="font-medium text-gray-900">
              <%= merch.name %>
            </h3>
            <%= render partial: "shopping_cart/merch/merch", collection: shopping_cart_merch, as: :shopping_cart_merch %>
          </div>
        </li>
      <% end %>
    </ul>
    <%= link_to(
          "Checkout",
          new_order_path,
          data: { turbo: false },
          class: "block text-center rounded-md border border-transparent bg-amber-600 mt-4 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2 focus:ring-offset-gray-50")
    %>
  </div>
<% end %>
