<%= turbo_frame_tag "shopping_cart" do %>
  <div class="mx-auto max-w-2xl px-4">
    <ul role="list" class="divide-y divide-gray-200">
      <% user.shopping_cart.reserved_seats_grouped_by_show.each do |show, seats| %>
        <%= turbo_frame_tag "show_#{show.id}_seat_reservations"  do %>
          <li class="flex items-center py-6">
            <%= link_to show, data: { turbo: false } do %>
              <%= image_tag url_for(show.artist.image), class: "h-auto w-32 flex-none rounded-md border border-gray-200" %>
            <% end %>
            <div class="ml-4 flex-auto">
              <h3 class="font-medium text-gray-900">
                <%= link_to show.artist.name, show, data: { turbo: false } %>
              </h3>
              <%= render partial: "shopping_cart/seat_reservation", collection: seats, as: :seat %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
    <%= link_to(
      "Checkout",
      new_order_path,
      data: { turbo: false },
      class: "block text-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50")
    %>
  </div>
<% end %>