<%= card do %>
  <%= render "admin/users/tabs" %>

  <%= turbo_frame_tag "admin_roles", target: :_top do %>
    <div class="relative mt-4 rounded-t-xl border-x border-t border-gray-200 bg-zinc-50 px-2 py-3">
      <div class="flex items-center justify-between">
        <div class="flex w-full justify-end mt-3">
          <%= link_to_new_record "Add role", new_admin_role_path, data: { turbo_frame: :admin_roles } %>
        </div>
      </div>
    </div>

    <div class="table w-full text-sm text-left rtl:text-right text-gray-500 border-x border-gray-200">
      <div class="table-header-group font-bold text-xs text-gray-700 uppercase bg-gray-100">
        <div class="table-row">
          <div class="table-cell px-6 py-3">
            Name
          </div>
          <div class="table-cell px-6 py-3">
            Hold Seats
          </div>
          <div class="table-cell px-6 py-3">
            Release Seats
          </div>
          <div class="table-cell px-6 py-3">
            Manage Customers
          </div>
          <div class="table-cell px-6 py-3">
            Manage Admins
          </div>
          <div class="table-cell px-6 py-3"></div>
        </div>
      </div>
      <div class="table-row-group">
        <% @roles.each do |role| %>
          <%= form_with model: role, url: role.new_record? ? admin_roles_path : admin_role_path(role), id: dom_id(role, :admin), class: "table-row bg-white border-b last:border-none hover:bg-gray-50" do |form| %>
            <div class="table-cell px-6 py-4">
              <%= form.text_field :name, class: "peer" %>
              <p class="mt-2 hidden peer-focus:block text-xs">Press Enter to save</p>
            </div>
            <div class="table-cell px-6 py-4">
              <%= form.check_box :hold_seats, onchange: "this.form.requestSubmit();" %>
            </div>
            <div class="table-cell px-6 py-4">
              <%= form.check_box :release_seats, onchange: "this.form.requestSubmit();" %>
            </div>
            <div class="table-cell px-6 py-4">
              <%= form.check_box :manage_customers, onchange: "this.form.requestSubmit();" %>
            </div>
            <div class="table-cell px-6 py-4">
              <%= form.check_box :manage_admins, onchange: "this.form.requestSubmit();" %>
            </div>
            <div class="table-cell px-6 py-4">
              <% if role.persisted? %>
                <%= link_to "Delete", admin_role_path(role), data: { turbo_method: :delete }, class: "text-sm text-red-500 hover:text-red-700" %>
              <% else %>
                <%= link_to "Cancel", admin_roles_path, class: "text-sm text-red-500 hover:text-red-700" %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <nav class="flex flex-col flex-wrap items-center justify-between rounded-b-xl border-x border-b border-gray-200 bg-zinc-50 p-2 pt-2 text-sm md:flex-row" aria-label="Table navigation">
    </nav>
  <% end %>
<% end %>
