<%= form_with(model: [:admin, customer_question]) do |form| %>
  <%= render "shared/error_messages", { model: customer_question } %>

  <div class="mt-6">
    <%= form.label :question %>
    <%= form.text_area :question, autofocus: true, rows: 5 %>
  </div>

  <div class="mt-10 flex items-center justify-end">
    <%= form.submit %>
  </div>
<% end %>
