<div class="max-w-2xl card">
  <h1 class="mb-4 text-center text-3xl font-semibold">Customer Questions</h1>

  <%= table_header_wrapper_tag do %>
    <%= form_with url: admin_customer_questions_path, method: :get, class: "flex items-center", data: { controller: "quick-form" } do |form| %>
      <%= form.check_box :show_inactive, include_hidden: false, checked: @show_inactive, data: { action: "quick-form#submit" }, class: "mr-1" %>
      <%= form.label :show_inactive, "Show inactive", class: "text-sm" %>
    <% end %>
    <%= link_to "New customer question", new_admin_customer_question_path, class: "btn-primary px-2 py-1", data: { turbo_stream: true } %>
  <% end %>
  <%= turbo_frame_tag :admin_customer_questions, target: :_top do %>
    <%= table_tag do %>
      <%= thead_tag do %>
        <tr>
          <%= th_tag do %>
            Question
          <% end %>
          <%= th_tag do %>
            Active
          <% end %>
        </tr>
        <tbody>
        <% @customer_questions.each do |customer_question| %>
          <%= tr_for_tbody_tag id: dom_id(customer_question, "admin") do %>
            <%= td_tag class: "truncate text-amber-600" do %>
              <%= link_to customer_question.question, edit_admin_customer_question_path(customer_question), data: { turbo_stream: true } %>
            <% end %>
            <% td_tag do %>
              <%= svg_check if customer_question.active? %>
            <% end %>
            <%= td_tag class: "text-right" do %>
              <%= render "shared/dropdown", { id: dom_id(customer_question, :admin) } do %>
                <%= dropdown_link_to "Deactivate",
                                     [:admin, customer_question],
                                     data: { turbo_method: :delete },
                                     class: "block px-4 py-2 hover:bg-gray-100 text-sm text-red-500 hover:text-red-700" if customer_question.active? %>
                <%= dropdown_link_to "Activate", admin_customer_question_activation_path(customer_question), data: { turbo_method: :post } unless customer_question.active? %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        </tbody>
      <% end %>
    <% end %>
    <%= custom_pagy_nav(@pagy) %>
  <% end %>
</div>
