<%= form_with model: [:admin, user], url: url, html: { class: "grid grid-cols-2 gap-x-4 gap-y-6 p-2" } do |form| %>
  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name, autofocus: true %>
  </div>

  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :phone %>
    <%= form.telephone_field :phone %>
  </div>

  <% if user.admin? %>
    <div class="col-span-2">
      <div>
        <%= form.label :user_role_id, "Role" %>
        <%= form.collection_select :user_role_id, User::Role.order(:name), :id, :name %>
      </div>

      <em class="col-span-2 mt-4 block text-sm">An email to reset their password will be sent after the admin is created.</em>
    </div>
  <% end %>

  <div class="col-span-2 flex justify-end">
    <%= form.submit %>
  </div>
<% end %>
