<div class="max-w-5xl lg:mt-8 card">
  <h1 class="mb-5 text-center text-3xl font-semibold">
    Upcoming Shows
  </h1>

  <% @shows.each do |show| %>
    <div id="<%= dom_id(show) %>" class="grid grid-cols-1 gap-4 border-b border-gray-200 p-5 md:grid-cols-2 last:border-b-0">
      <div>
        <%= image_tag show.artist.image.variant(:medium), id: "shows_#{dom_id(show.artist.image)}", class: "md:max-h-48 rounded-md", data: { turbo_permanent: "" } %>
      </div>
      <div class="grow">
        <div class="text-xl font-semibold text-gray-800">
          <%= show.artist.name %> - <%= show.show_date.strftime('%A, %B %e, %Y') %>
        </div>

        <div class="mb-5">
          <p class="text-sm">Doors open at <%= show.doors_open_at.strftime('%l:%M %p') %></p>
          <p class="text-sm">Dinner <%= show.dinner_starts_at.strftime('%l:%M %p') %> to <%= show.dinner_ends_at.strftime('%l:%M %p') %></p>
          <% show.sections.each do |show_section| %>
            <p class="text-sm"><%= show_section.name %> - <%= number_to_currency(show_section.ticket_price) %></p>
          <% end %>
        </div>
        <%= link_to_order_tickets(show) %>
<!--        - if show.class == ReservedSeatingShow-->
<!--        - if show.seating_chart_contains_deposit_sections?-->
<!--        div style="margin-top: 0.5em"-->
<!--        strong Ticket Price Includes Three Course Meal-->
<!--        div class="hideshowinfo" style="color: red" #{number_to_currency(show.deposit_amount)} Deposit Per Ticket Required At Time Of Purchase-->
<!--        div class="hideshowinfo" style="color: red" The Remaining Balance Will Be Settled The Night Of The Show-->
<!--        - else-->
<!--        div style="color: #AE6940; font-family: 'Lato', sans-serif; font-weight: bold;"-->
<!--        strong Come In Early, The Kitchen Is Open!-->
<!--        - if show.class == GeneralAdmissionShow-->
<!--        div style="color: #AE6940; font-family: 'Lato', sans-serif; font-weight: bold;"-->
<!--        strong Come In Early, The Kitchen Is Open!-->
      </div>
    </div>
  <% end %>

  <%= previous_and_next_buttons_pagy_nav(@pagy) %>
</div>
