<% width = @show.venue_layout.metadata["width"] %>
<% height = @show.venue_layout.metadata["height"] %>

<div class="p-8">
  <div class="grid grid-cols-1 md:grid-cols-8 gap-x-4">
    <div class="col-span-2 mt-10">
      <h1 class="text-center text-3xl mb-10">
        <%= @show.artist.name %>
      </h1>
      <div>
        <%= image_tag url_for(@show.artist.image), class: "rounded-md" %>
      </div>
      <div>
        <p><%= @show.show_date.strftime('%A, %B %e, %Y') %></p>
        <p>Doors open at <%= @show.doors_open_at.strftime('%l:%M %p') %></p>
        <% @show.sections.each do |show_section| %>
          <p class="text-sm"><%= show_section.name %> - <%= number_to_currency(show_section.ticket_price) %></p>
        <% end %>
      </div>
    </div>
    <div class="col-span-6 mt-10">
      <%= turbo_stream_from [@show, "seating_chart"] %>
      <svg data-controller="shows--seating-chart--svg" data-loader-target="content" viewBox="0 0 <%= width %> <%= height %>">
        <image data-loader-target="loadable" data-action="load->loader#showContent" href="<%= url_for(@show.venue_layout) %>" id="<%= dom_id(@show.venue_layout) %>" width="<%= width %>" height="<%= height %>">
        </image>
        <%= render partial: "shows/sections/section", collection: @show.sections %>
      </svg>
    </div>
  </div>
</div>
