<%= form_with(model: [:admin, merch]) do |form| %>
  <%= render "shared/error_messages", { model: merch } %>

  <div class="mt-6 grid grid-cols-2 gap-4">
    <div>
      <%= form.label :name %>
      <%= form.text_field :name, autofocus: true %>
    </div>

    <div>
      <%= form.label :price %>
      <%= form.number_field :price, min: "0", step: "0.01" %>
    </div>
  </div>

  <div class="mt-6 grid grid-cols-2 gap-4">
    <div>
      <%= form.label :weight %>
      <%= form.number_field :weight, step: "0.01", min: "0" %>
    </div>
  </div>

  <div class="mt-6">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="mt-6">
    <h3 class="flex justify-between text-md">
      Categories

      <%= link_to "Add Category", new_admin_merch_category_field_path, class: "btn-primary px-2.5 py-1.5 text-xs", data: { turbo_stream: true } %>
    </h3>

    <div class="grid grid-cols-3 gap-4 p-4 align-middle">
      <%= form.collection_check_boxes :category_ids, Merch::Category.all, :id, :name %>
    </div>

    <div class="grid grid-cols-2 gap-4 p-4 align-middle">
      <% merch.categories.select { |category| !category.persisted? }.each do |category| %>
        <%= form.fields_for :categories_attributes, category, index: category.object_id do |category_fields| %>
          <%= render "admin/merch/category_fields/category_fields", category_fields: category_fields %>
        <% end %>
      <% end %>
      <%= turbo_frame_tag "new_merch_category" %>
    </div>
  </div>

  <div class="mt-6">
    <label for="merch-image-upload" class="form-label">Image</label>
    <%= form.image_field_with_preview :image %>
  </div>

  <div class="mt-10 flex items-center justify-end">
    <%= form.submit %>
  </div>
<% end %>
