<tr id="<%= dom_id(merch, :admin) %>">
  <td class="table-td text-indigo-600">
    <%= link_to merch.name, edit_admin_merch_path(merch) %>
  </td>
  <td class="table-td">
    <%= merch.categories.map(&:name).join(", ").truncate(30) %>
  </td>
  <% if on_sale_column %>
    <td class="table-td">
      <%= svg_check if merch.active? %>
    </td>
  <% end %>
  <td class="table-td text-gray-900 text-right sm:pr-6">
    <%= render "shared/dropdown", { id: dom_id(merch, :admin) } do %>
      <%= dropdown_link_to "Take off sale", [:admin, merch], data: { turbo_method: "delete", turbo: true, turbo_frame: :_top } if merch.active? %>
      <%= dropdown_link_to "Put on sale", admin_merch_on_sale_path(merch), data: { turbo_method: "post", turbo: true, turbo_frame: :_top } unless merch.active? %>
    <% end %>
  </td>
</tr>