<div data-controller="tabs" data-tabs-active-tab-value="<%= active_tab_from_params || 0 %>" class="max-w-xl card" data-action="turbo:frame-load->tabs#displayActiveTab">
  <%= render "admin/merch/tabs" %>

  <%= turbo_frame_tag "admin_merch_panel" do %>
    <div class="hidden" data-tabs-target="panel" data-turbo="false">
      <div class="flex justify-between">
        <%= form_with url: admin_merch_index_path, method: :get, class: "flex items-center", data: { controller: "quick-form" } do |form| %>
          <%= form.check_box :include_off_sale, include_hidden: false, checked: @include_off_sale, data: { action: "quick-form#submit" }, class: "mr-1" %>
          <%= form.label :include_off_sale, "Show off sale", class: "text-sm" %>
        <% end %>
        <%= link_to "New Merch", new_admin_merch_path, class: "btn-primary px-2 py-1" %>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="table-th">Name</th>
            <th scope="col" class="table-th">Categories</th>
            <% if @include_off_sale %>
              <th scope="col" class="table-th">On Sale</th>
            <% end %>
            <th scope="col" class="table-th"></th>
          </tr>
        </thead>
        <tbody class="table-tbody">
          <%= render partial: "admin/merch/merch", collection: @merch, as: :merch, locals: { on_sale_column: @include_off_sale } %>
        </tbody>
        <tfoot class="<%= "border-none" if @pagy.pages > 1 %>">
          <tr>
            <td colspan="999"><%= custom_pagy_nav(@pagy) %></td>
          </tr>
        </tfoot>
      </table>
    </div>
  <% end %>

  <%= turbo_frame_tag "admin_merch_categories_panel", src: admin_merch_categories_path do %>
    <div data-tabs-target="panel"></div>
  <% end %>
</div>
