<%= card do %>
  <%= render "admin/merch/tabs" %>

  <div class="relative mt-4 overflow-x-auto rounded-t-xl border-x border-t border-gray-200 bg-zinc-50 px-2 py-3">
    <div class="flex items-center justify-between">
      <div>
        <%= form_with url: admin_merch_index_path, method: :get, class: "flex items-center" do |form| %>
          <%= form.check_box :include_off_sale, include_hidden: false, checked: @include_off_sale, onchange: "this.form.requestSubmit()", class: "mr-1" %>
          <%= form.label :include_off_sale, "Show off sale", class: "text-sm" %>
        <% end %>
      </div>

      <div class="flex items-end space-x-2">
        <%= link_to_new_record("New merch", new_admin_merch_path, id: "new_merch") %>
      </div>
    </div>
  </div>

  <div class="relative">
    <table class="w-full border-x border-gray-200 text-left rtl:text-right text-gray-500">
      <thead class="bg-zinc-50 uppercase text-gray-700">
      <tr>
        <th class="px-6 py-3 text-xs">Name</th>
        <th class="px-6 py-3 text-xs">Categories</th>
        <th class="px-6 py-3 text-xs">On Sale</th>
        <th class="px-6 py-3 text-xs"></th>
      </tr>
      </thead>
      <tbody data-admin--merch-update-order-url-value="<%= admin_merch_sort_order_path %>"
             data-admin--merch-target="merchTableBody"
             data-controller="admin--merch">
      <% @merch.each do |merch| %>
        <tr id="<%= dom_id(merch, "admin") %>"
            data-admin--merch-target="merch"
            data-id="<%= merch.id %>"
            data-active="<%= merch.active %>"
            class="border-b bg-white last:border-none hover:bg-zinc-50 text-sm <%= "hidden" if !@include_off_sale && merch.deactivated? %>">
          <td class="px-6 py-4">
            <%= link_to merch.name, edit_admin_merch_path(merch), class: "text-amber-500 hover:underline hover:text-amber-600 font-medium" %>
          </td>
          <td class="px-6 py-4">
            <%= merch.categories.map(&:name).join(", ").truncate(30) %>
          </td>
          <td class="px-6 py-4">
            <%= svg_check if merch.active? %>
          </td>
          <td class="px-6 py-4 text-right">
            <%= success_link_to "Put on sale",
                                admin_merch_on_sale_path(merch),
                                data: { turbo_method: "post", turbo: true },
                                class: "text-sm" unless merch.active? %>
            <%= danger_link_to "Take off sale",
                               [:admin, merch],
                               data: { turbo_method: "delete", turbo: true },
                               class: "text-sm" if merch.active? %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <nav class="flex flex-col flex-wrap items-center justify-between rounded-b-xl border-x border-b border-gray-200 bg-zinc-50 p-2 pt-2 md:flex-row" aria-label="Table navigation">
  </nav>
<% end %>
