<%= turbo_frame_tag dom_id(shopping_cart_merch), target: :_top do %>
  <div class="mt-3 flex items-baseline justify-between">
    <%= form_with model: shopping_cart_merch,
                  url: shopping_cart_merch_path(shopping_cart_merch),
                  class: "text-gray-500 flex items-baseline" do |form| %>
      Quantity: <%= form.collection_select :quantity,
                                           1..10,
                                           :to_i,
                                           :to_i,
                                           {},
                                           onchange: "this.form.requestSubmit();",
                                           class: "form-control-select p-0 mx-2" %>
      <%= "(#{shopping_cart_merch.option})" unless shopping_cart_merch.option.blank? %>
    <% end %>
    <%= button_to shopping_cart_merch_path(shopping_cart_merch),
                  method: "delete",
                  class: "-m-2.5 flex items-center justify-center bg-white px-2.5 text-gray-400 hover:text-gray-500" do %>
      <span class="sr-only">Remove</span>
      <%= svg_trash_can %>
    <% end %>
  </div>
<% end %>
