<h1 class="text-center">Seating Charts</h1>

<% if notice.present? %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="container-sm">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
          <% @seating_charts.each do |seating_chart| %>
            <tr scope="row" id="<%= dom_id(seating_chart, :admin) %>">
              <td>
                <%= link_to seating_chart.name, edit_admin_seating_chart_path(seating_chart), data: { turbo: false } %>
              </td>
              <td>
                <div class="dropdown text-end">
                  <button class="btn btn-light btn-sm dropdown-toggle no-caret" type="button" id="<%= dom_id(seating_chart, :admin) %>_dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="<%= dom_id(seating_chart, :admin) %>_dropdown">
                    <li>
                      <%= link_to "Delete", admin_seating_chart_path(seating_chart), data: { turbo_method: "DELETE" }, class: "dropdown-item" %>
                    </li>
                    <li>
                      <%= link_to 'Copy', new_admin_seating_chart_path(clone_from: seating_chart.id), class: "dropdown-item" %>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-3"></div>
  </div>
</div>
