<div class="card max-w-xl">
  <h1 class="text-center text-3xl font-semibold">Seating Charts</h1>

  <div class="flex justify-end">
    <%= link_to "New Seating Chart", new_admin_seating_chart_path, class: "btn-primary px-2 py-1" %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="table-th">Name</th>
        <th scope="col" class="table-th"></th>
      </tr>
    </thead>
    <tbody class="table-tbody">
      <% @seating_charts.each do |seating_chart| %>
        <tr id="<%= dom_id(seating_chart, :admin) %>">
          <td class="table-td text-indigo-600">
            <%= link_to seating_chart.name, edit_admin_seating_chart_path(seating_chart) %>
          </td>
          <td class="table-td text-gray-900 text-right sm:pr-6">
            <%= render "shared/dropdown", { id: dom_id(seating_chart, :admin) } do %>
              <%= dropdown_link_to seating_chart.shows.exists? ? "Deactivate" : "Delete", [:admin, seating_chart], data: { turbo_method: "DELETE" } %>
              <%= dropdown_link_to 'Copy', new_admin_seating_chart_path(clone_from: seating_chart.id) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
