<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body data-current-user-id="<%= @current_user_id %>">
    <%= render "layouts/navbar" %>  
    <div class="mx-auto max-w-7xl">
      <%= yield %>
    </div>

    <%= render "shared/toast_messages/index" %>

    <%= turbo_frame_tag "application_modal" %>
  </body>
</html>
