<!DOCTYPE html>
<html>
  <head>
    <title>DoseyDoeTickets</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <% if Rails.env.test? %>
      <style type="text/css">
        .modal.fade, .fade {
          -webkit-transition: none;
          -moz-transition: none;
          -ms-transition: none;
          -o-transition: none;
          transition: none;
        }
      </style>
    <%end%>
  </head>

  <body>
    <div class="my-5">
      <div class="container-sm">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <%= render "layouts/flash_messages" %>
          </div>
        </div>
      </div>
      <%= yield %>
    </div>

    <div class="modal"
      tabindex="-1"
      data-controller="modal"
      data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close">
      <div class="modal-dialog">
        <div class="modal-content">
          <%= turbo_frame_tag "modal" %>
        </div>
      </div>
    </div>
  </body>
</html>
