<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body class="h-full bg-zinc-100" data-current-user-id="<%= Current.user.shopper_uuid %>" data-current-user-is-admin="<%= Current.user.admin? %>">
    <%= render "layouts/navbar" %>
    <div class="mx-auto">
      <%= yield %>
    </div>

    <%= render "shared/toast_messages/index" %>
    <%= turbo_frame_tag "application_modal", target: "_top" %>
  </body>
</html>
